@use "../abstracts/" as a;

.section {
    padding: 6rem 0 2rem;
}

.section__title {
    font-size: a.$h1-font-size;
    color: a.$title-color;
}

.section__subtitle {
    display: block;
    font-size: a.$small-font-size;
    margin-bottom: 4rem;
}

.section__title,
.section__subtitle {
    text-align: center;
}

/*for layout*/
.container {
    max-width: 1260px;
    margin: auto;
    margin-left: auto;
    margin-right: auto;
}

.grid {
    display: grid;
    gap: 1.5rem;
}

/*buttons*/
.button {
    display: inline-block;
    background-color: a.$title-color;
    color: a.$container-color;
    padding: 1.25rem 2rem;
    border-radius: 1rem;
    font-weight: a.$font-medium;
}

.button:hover {
    background-color: a.$title-color-dark;
}

.button__icon {
    margin-left: a.$mb-0-5;
}

.button--flex {
    display: inline-flex;
    align-items: center;
}
